{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": "off",
  },
  "extends": ["prettier", "prettier/react"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
  }
}
